@using System.Web.Script.Services
@using EcommMVC.Models

@{
    ViewBag.Title = "GenerateInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var subTotal = 0.00;
}

<h2>Invoice</h2>

<style>

    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }

    td {
        padding: 10px 0;
        text-align: left;
    }

    caption {
        color: #333;
        font-weight: 400;
        font-size: 12pt;
        background: none;
        text-align: right;
    }

</style>

<div class="col-lg-12 col-md-12 col-sm-12" align="center">
    
    <table>

        <tr>
            <th>Item Name</th>
            <th></th>
            <th>Unit</th>
            <th></th>
            <th>Price (in ₹)</th>
        </tr>


        <br/>

        @foreach (var item in Model)
        {

            subTotal = subTotal + item.TotalPrice;

            <tr>
                <td>@item.ItemName</td>
                <td></td>
                <td>@item.ItemQuantity</td>
                <td></td>
                <td>@item.TotalPrice ₹</td>
            </tr>



        }

        @{
            var GST = subTotal * 0.18;
            var TotalPayable = subTotal + GST;

            TempData["totalPayable"] = TotalPayable;
        }

        
        
        <caption style="caption-side: bottom">
            Sub Total     :   @subTotal ₹<br />
            Tax(18%)      :   @GST ₹     <br /> <b>
                Total Payable :   @TotalPayable ₹ </b>
        </caption>

    </table>

</div>

