@using EcommMVC.Models
@model IEnumerable<EcommMVC.Models.OrderDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br/>
<br/>
<br/>
<br/>

<div class="container-fluid">

    <h2>My Orders</h2>


    @if (!Model.Any())
    {

        <div class="container-fluid" align="center"><p>You Don't Have Any Orders. Please Place An Order To Continue</p></div>



    }
    else
    {

        <style>
            caption {
                color: #333;
                font-weight: 400;
                font-size: 12pt;
                background: none;
                text-align: right;
            }
        </style>




        <table class="table table-bordered table-hover" id="invoice-table">
            <thead>
                <tr>
                    <th>Order Items</th>
                    <th>Item Quantity</th>
                    <th>Price</th>
                    <th>Delivery Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {

                    <tr>
                        <td><a href="/products/Details/@order.ProductId">@order.ItemName</a></td>
                        <td>@order.ItemQuantity</td>
                        <td>@order.TotalPrice</td>
                        <td>@order.DeliverStatus</td>
                    </tr>

                }
            </tbody>
        </table>

    }

</div>
